/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');



/*GENERALES*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F4F4F4;
    height: 100vh;
}

.saludo{
    font-size: 50px;
    font-family: "Open sans", sans-serif;
    color: #2979CD;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 15px auto;
    text-shadow: 1px 1px 2px #000000;
}

.alerta-realizado{
    padding: 10px;
    border: 1px solid #25d325;
    border-radius: 5px;
    background-color: #fff;
    color: #25d325;
    margin: 20px auto;
    text-align: center;
    width: 70%;
    font-size: 30px;
    font-family: "Open sans", sans-serif;
}

.alerta-error-registrar{
    padding: 10px;
    border: 1px solid #fb0f0f;
    border-radius: 5px;
    background-color: #fff;
    color: #fb0f0f;
    margin: 20px auto;
    text-align: center;
    width: 50%;
    font-size: 30px;
    font-family: "Open sans", sans-serif;
}

.alerta-error{
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #fff;
    color: #fb0f0f;
    margin: auto;
    text-align: center;
    width: 70%;
    font-size: 20px;
    font-family: "Open sans", sans-serif;
}

.fecha{
    color: #4e4e4e;
    margin-top:5px;
    font-size: 14px;
}

/*CABECERA*/
#cabecera{
    height: auto;
    background: transparent;
    margin: 0px auto;
    display: flex;
}

.acciones{
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.acciones a{
    margin: 20px;
}

.btn-ingresar{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    background-color: #2979CD;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.btn-ingresar:hover{
    background-color: #fff;
    color: #2979CD;
    border: 1px solid #2979CD;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.btn-registrar{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    color: #2979CD;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.btn-registrar:hover{
    border: 1px solid #2979CD;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

/*LOGOTIPO*/
#logo{
    width: 540px;
    height: 110px;
    display: inline-block;
}

#logo a{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979CD;
    transition: all 500ms;
    line-height: 90px;
    margin-left: 10px;
}

/*MENU*/

#menu {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    background-color: #2979CD;
    height: 80px;
}

ul{
    list-style: none;
    display: flex;
}

ul li a{
    height: 50px;
    color: #fff;
    padding: 30px;
    margin: 10px;
    font-size: 20px;
}

ul li a:hover{
    background-color: #fff;
    color: #156785;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

/*CONTENIDO*/
#contenedor{
    height: auto;
    margin: 0px auto;
    margin-bottom: 30px;
}

.bloque{
    display:block;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 35px;
    background: white;
    padding: 15px; 
}

.bloque h3{
    margin-bottom: 15px;
}

.boton{
    color:white !important;
    text-align: center;
    width: 130px;
}

.boton-naranja{
    background: orange;
    border-color: #bd7d08;
}

.boton-verde{
    background: #21b921;
    border-color: green;
}

.boton-rojo{
    background: red;
    border-color: #444;
}


/* FORMULARIO */

.form-registrar,
.form-login{
    width: 30%;
    position: absolute;
    top: 15%;
    left: 35%;
    box-shadow: 2px 2px 20px #2979CD;
    box-shadow: 2px 2px 30px #2979CD;
    border-radius: 20px;
}

form{
    border-radius: 20px;
    display: block;
    border: 2px solid #FFF;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    background: #fff;
    padding: 50px;
    color: #2979CD;
}

.form-nombre,
.form-apellido,
.form-email,
.form-pass{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px auto;
}

.form-registrar input,
.form-login input{
    width: 60%;
    border: 2px solid #2979CD;
    font-size: 25px;
    padding: 5px;
}

.form-registrar input:focus,
.form-login input:focus{
    outline:2px solid #fff;
    background: #f4f4f4;
    outline: 3px solid #2979CD;
}

.formRegistrarBtn,
.formLoginBtn{
    display: flex;
    justify-content: space-around;
}

.registrarBtn,
.loginBtn{
    display: inline-block;
    border: none;
    height: 50px;
    margin: 40px;
    background-color: #2979CD;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.registrarBtn:hover,
.loginBtn:hover{
    background-color: #fff;
    color: #2979CD;
    border: 1px solid #2979CD;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.cancelarBtn{
    margin: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px;
    color : #2979CD;
    height:50px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.cancelarBtn:hover{
    border: 1px solid #2979CD;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

/*PRINCIPAL*/

#principal{
    margin: 0 auto;
    width: 90%;
    min-height: 572px;
    overflow: hidden;
}

#principal h1{
    text-shadow: 20px 5px 10px #F4F4F4;
    margin: 15px;
    text-align: center;
    font-size: 50px;
    color: #2979CD;
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;
}

.entradas{
    margin-bottom: 300px;
    margin-top: 50px;
}

.entrada{
    border-radius: 20px;
    height: auto;
    padding: 30px;
    position: relative;
    padding: 30px;
    transition: transform 1s;
    width: 80%;
    margin: 60px auto;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 30%;
}

.entrada h2{
    border-radius: 20px;
    font-size: 40px;
    background-color: #F4F4F4;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #2979CD;
    font-family: 'Merriweather', serif;
    padding: 20px;
}

.entrada p{
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
    color: #156789;
    line-height: 40px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entrada:hover{
    box-shadow: 2px 2px 5px #707070;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: .5s;
    transform: scale(1.1);
}

.postBtn{
    display: block;
    position: relative;
    bottom: 20px;
    right: 0px;
    width: 120px;
    padding: 10px;
    color: #2979CD;
    border: 2px solid #2979CD;
    background-color: #F4F4F4;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.postBtn:hover{
    background-color: #2979CD;
    color: #fff;
    margin-top: 30px;
}


/*PIE DE PAGINA*/

.footer-div{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin-top: 100px;
}

footer{
    background: #2979CD;
    font-size: 30px;
    color: #fff;
    font-family: "Open sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}